#contact {
  padding: 3rem 0;
  min-height: calc(100vh - 250px - 6rem);

  // @include media-breakpoint-down(sm) {
  //   padding: 0;
  // }

  .page-heading {
    position: relative;
    padding-bottom: 5rem;

    @include media-breakpoint-down(sm) {
      padding-bottom: 2rem;
    }

    .dash {
      position: absolute;
      left: -100px;
      top: 25%;
      display: block;
      width: 70px;
      height: 8px;
      background-color: #FFA05E;
    }
  }

  .page-content {
    display: flex;
    flex-wrap: wrap;
  }

  .post {
    box-sizing: border-box;
    background: #F9F9F9;
    padding: 40px;
    position: relative;
    margin: 0 1rem 1rem 1rem;
    width: 45%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    .orange-dash {
      display: block;
      position: absolute;
      top: 0;
      width: 70px;
      height: 8px;
      background-color: #FFA05E;
      margin-right: 10px;
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }

    p {
      font-size: 22px;
      padding: 10px 0;
      word-break: break-all;
    }
  }

}